extends template

block content
    //- link(rel='stylesheet', href='/stylesheets/index.css')    
    button#startQuiz(type='button' onclick='startQuiz()') Start Quiz to Find Your Spirit DEV Bootcamp Teacher!