extends template

block content
    //- link(rel='stylesheet', href='/stylesheets/index.css')    
    h1 The quiz (intro page) should appear on index.pug 
    h2 We'll take out this register form later...
    h3 After clicking 'Get Started!' on the intro page, you should be redirected to each question. After the final one, you should be redirected to grade.pug. 
    br
    button#startQuiz(type='button' onclick='startQuiz()') Start Quiz!