extends template

block content 
	h1#result APOLOGIES, YOU ARE ... #{spirit}!

	form 
		.form-box
			h2 Email yourself your Results! 
				.fb-item-results
				br 
				span Email
				br
				input(type='text' name='email' placeholder='Email')

				br

				button#submit(type='button' onclick='submitResultsToEmail()') Send Email! 

				br
				br

			h2 Text yourself your Results! 
				br
				.fb-item-results 
				span Phone Number
				br 
				input(type='phone' name='phoneNumber' placeholder='Phone Number')

				.fb-item-results  
				span Phone Provider
				br
				select#phoneProvider
					option(value='att') AT&T
					option(value='verizon') Verizon
					option(value='t-mobile') T-Mobile
					option(value='sprint') Sprint
					option(value='boost') Boost

				br

				button#submit(type='button' onclick='submitResultsToText()') Send Text!

	//- Buttons for sharing on social media 
	#fb-root
	script.
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	
	//- Button that enables user to share results
	//- Doesn't make it share results directly.  HOW TO RESOLVE THIS?  
	iframe(src='https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=large&mobile_iframe=true&width=106&height=28&appId', width='106', height='28', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')

	script.
		window.twttr = (function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0],
		t = window.twttr || {};
		if (d.getElementById(id)) return t;
		js = d.createElement(s);
		js.id = id;
		js.src = "https://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js, fjs);
		t._e = [];
		t.ready = function(f) {
		t._e.push(f);
		};
		return t;
		}(document, "script", "twitter-wjs"));
	a.twitter-share-button(href='https://twitter.com/intent/tweet?text=Hello%20world', data-size='large')
		| Tweet

	
