extends template

block content
    h2 Question #{order}
    p #{prompt}

    form
        .form-box
            - var count = 0
            each part in answers 
                p #{part.answer} 
                button#changethis(type ='button' onclick = 'nextQuestion(' +order +', ' + count + ')') ^ Yeah I feel this
                - count++

    br
    button#startQuiz(type='button' onclick='startQuiz()') Start Quiz!
