extends template

block content
    h2#qpug1 Question #{order}
    p#qpug2 #{prompt}

    form
        .form-box
            - var count = 0
            each part in answers 
                - var ak = part.association[0]
                - var bv = part.association[1]
                - var ez = part.association[2]
                - var ho = part.association[3]
                - var np = part.association[4]
                p#qpug3 #{part.answer} 
                button#qpug4(type ='button' onclick = 'nextQuestion(' + order + ', ' + count + ', ' + ak + ', ' + bv + ', ' + ez + ', ' + ho + ', ' + np + ')') ^ Yeah I feel this
                - count++
