doctype html
html
  head
    title= title || "DEV BOOTCAMP EXAM"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css' href='//fonts.googleapis.com/css?family=Lobster')
    script(src='/js/fetch.js')

#navbar
    a(href='/')
        span DEV Bootcamp Quiz!
    #nb-items
        a(href='/')
            span The Quiz
        a(href='/results')
            span All Results
        a(href='/login')
            span Admin Login
        a(href='/makeQuestion')
            span Make!
        #nb-profpic
  
body
    block content
    script(src='/js/script.min.js')
    if token
        script localStorage.token = "#{token}"